/* .container_main_comment {
  margin: 0 auto;
  padding: 0 30px;
  height: 400px;
  width: 100%;

  justify-content: center;
  display: flex;
  flex-direction: row;
} */
/* .testemain {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 30px;
} */

.testemain {
  display: flex;
  flex-flow: row;
  justify-content: center;
  width: 75%;
  height: 100%;
  margin: 0px 188px 16px;
  padding: 40px 20px;
}

.container_main_comment {
  border: 1px solid #ddd;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* justify-content: flex-end; */
  align-items: center;
  min-height: 350px;
  max-height: 400px;
}

.container_image_comment {
  display: flex;
  padding: 10px;
}

.container_data_comment {
  border-left: 1px solid #ddd;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: hidden;
}

.container_data_comment .actions {
  border-top: 1px solid #ddd;
  padding-left: 10px;
  padding-top: 10px;
}

.container_data_comment .likes {
  padding-left: 10px;
}

.container_data_comment .timeAGO {
  padding-left: 10px;
  padding-bottom: 10px;
}

.container_data_comment .comments {
  width: calc(100% - 8px);
  padding: 16px 12px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  display: none;
}

.container_data_comment .comment {
  margin-bottom: 16px;
}

.container_data_comment .newPost {
  justify-self: end;
}

.container_data_comment .newPost form {
  align-self: flex-end;
  justify-self: end;
  justify-self: flex-end;
}
