section#post-list {
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  padding: 0 30px;
}

section#post-list article footer {
  padding: 20px;
}

section#post-list article footer p {
  font-size: 14px;
  margin-top: 12px;
  line-height: 18px;
}

section#post-list article footer p span {
  color: #7159c1;
}
